body {
  font-family: helvetica;
  background-color: #FF0DFF;
  color: #FFE500;
}
h1{
  font-size: 40px;
}
li {
  font-style: italic;
  font-size: 24px;
  }

h3 {
  text-decoration: underline;
}
a {
  color: #5DFF0A;
  font-weight: bold;
}